.ellipsis {
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.menu-name {
  font-size: 1.2rem;
}
:root {
  --dark-blue: #3D5A80;
  --pale-blue: #98C1D9;
  --light-cyan: #E0FBFC;
  --pale-yellow: #FCBA5E;
  --gunmetal: #293241;
}

.navbar-item {
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--light-cyan);
}

.nav-text:hover {
  color: var(--pale-blue);
}

@media(max-width: 1024px) {
  a.navbar-item:hover {
    background-color: transparent !important;
  }
}

html {
  background: var(--pale-blue);
}

.footer-name {
  color: #4a4a4a;
}
.footer-name:hover {
  color: #7c7c7c;
}

.about-text {
  font-size: 1rem;
  @media(max-width: 768px) {
    font-size: .8rem
  }
}

.about-title {
  font-size: 2rem;
  font-weight: 600;
  @media(max-width:1024) {
    text-align: center;
    text-align:center;
    margin-top: -4rem;
  }
}

.about-padding {
  padding: 6rem 4rem;
  @media(max-width:1024) {
    padding: 1.5rem 2rem !important;
  }
}